/* ==========================================================================
   Fresh Air...
   ========================================================================== */
* { box-sizing: border-box; }

body{
  margin: 0; padding: 0;
  font-family: 'Cairo', helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
}

p{
  margin-bottom: 3rem;
}

ul{
  margin-bottom: 3rem;
}

p.headline{
  font-size: 2.2em;
  margin-bottom: 5rem;
}


/* list block */
.list-blocks{
  list-style: none;
  list-style-type: none;
  width: 100%; overflow: hidden;
  padding: 0; margin: 0; margin-bottom: 60px;
}
.list-blocks li{
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
}

.inner-block{
  margin: auto 20px; padding: 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
  text-align: center;
  display: flex;
}

.inner-block div{margin: auto;}


.list-blocks--3 li{width: 33.3%}
.list-blocks--4 li{width: 25%}

/* LAYOUTS */

.container{
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}


/* MASTHEAD */
.masthead{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #eee;
  display: flex;
  /* background image - todo, make js responsive */
  background-image: url('../img/masthead-home-large.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.masthead .logo{
  width: 40%;
  margin: auto auto;
  vertical-align: middle;
}

/* INTRO */
.intro{
  width: 100%;
  margin: 0;
  padding: 5em 0;
  position: relative;
  text-align: center;
}

/* MAIN */

.main{
text-align: center;
  padding: 10rem 0;
  background-color: #E9F4F9;
}
